

<div class="container">
    <h2>About Us</h2>
    <p>Blogging </p>
    <p>If you have any query regrading Site, Advertisement and any other issue, please feel free to contact at <strong>aashishrana107@gmail.com</strong></p>
    </div>